%h1.center
  = @category.name
  Pricing and Availability

- if @about == 'veggies'
  %p
    All our veggies are 100% organic. No chemical fertilizers or sprays are used at any time.

- if @about == 'comics'
  %p these comics are from Funny Comics Inc

.table-overflow
  %table
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th Quantity
        %th For sale
        %th Available on
        %th Discontinued on
        %th Image
        %th Show
        - if user_signed_in?
          %th Edit
          %th Destroy
      %tbody
        - @category.products.each do |product|
          = render 'products/table_data', product: product

- if user_signed_in?
  = link_to 'Edit', edit_category_path(@category)
  \|
= link_to 'All Categories', categories_path
\|
= link_to 'All Products', products_path
