%tr
  %td= product.name
  %td= product.description
  %td= number_to_currency(product.price)
  %td= product.quantity
  %td= product.for_sale
  %td= product.available_on
  %td= product.discontinued_on
  %td
    - if product.picture.attached?
      = image_tag product.picture.variant(resize: "200x200")
  %td= link_to 'Show', product
  - if user_signed_in?
    %td= link_to 'Edit', edit_product_path(product)
    %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
