%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th Category
      %th Quantity
      %th For sale
      %th Available on
      %th Discontinued on
      %th Image
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= number_to_currency(product.price)
        %td= product.category
        %td= product.quantity
        %td= product.for_sale
        %td= product.available_on
        %td= product.discontinued_on
        %td= image_tag product.image_url(:thumb) if product.image_data?
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
