%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Quantity:
  = @product.quantity
%p
  %b Currently for sale:
  = @product.for_sale
%p
  %b Available on:
  = @product.available_on
%p
  %b Discontinued on:
  = @product.discontinued_on

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
