%h1.center= @product.name
.grid-x
  .medium-6.cell
    .box
      = image_tag @product.picture.variant(resize: "200x200") if @product.picture.attached?
  .medium-6.cell
    %p
      %b Description:
      = @product.description
    %p
      %b Price:
      = number_to_currency(@product.price)
    %p
      %b Quantity:
      = @product.quantity
    %p
      %b Category:
      = @product.category.name
    %p
      = currently_for_sale(@product.for_sale)
      %p
        %b Available from:
        %span.one-line-text #{@product.available_on} -
        %span.one-line-text= @product.discontinued_on


- if user_signed_in?
  = link_to 'Edit', edit_product_path(@product)
  \|
= link_to 'All Categories', categories_path
\|
= link_to 'All Products', products_path
