%h1 2 and below
%p What Gryphen and I have in our stand is pictures, colored rocks, articles, and veggies.
%p Don't be mad if our stand is closed come on a Saturday.
%br/
.map_wrapper
  %a.map_link{:href => "https://www.google.com/maps/place/11+East+Blvd,+Blackwood,+NJ+08012/@39.676825,\r\n  -75.105845,18z/data=!4m5!3m4!1s0x89c6d62ce4596ec9:0xa58a1a0fa4a00b44!8m2!3d39.676825!4d-75.105845?hl=en-US", :target => "_blank"}
    We are located at 132 East Blvd, Glassboro, NJ
    %br/
    .map_iframe
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d767.6987584964297!2d-75.105845!3d39.676825000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6d62ce4596ec9%3A0xa58a1a0fa4a00b44!2s11+East+Blvd%2C+Blackwood%2C+NJ+08012!5e0!3m2!1sen!2sus!4v1497633825048", :style => "border:0; pointer-events:none;", :width => "400"}
%br/
%p
  = image_tag('stand.jpg')
%p You can come to our stand and buy any thing, just bring cash, no credit cards, just cash.
%p There is music!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
%p
  Here is the garden to make the veggies we are selling. 100% organic!
  %br/
  = image_tag("garden.jpg")
  %h2 What we're growing
%p Pricing and Availability
%ul.menu
  %li
    Corn
    %br/
    = image_tag("corn.jpg", class: 'small')
  %li
    Jalapenos Peppers
    %br/
    = image_tag("jalapenos.jpg", class: "small")
  %li
    Tomatoes
    %br/
    = image_tag("tomatoes.jpg", class: "small")
  %li
    Cucumbers
    %br/
    = image_tag("cucumber.jpg", class: "small")
  %li
    Egg Plant
    %br/
    = image_tag("egg_plant.jpg", class: "small")
  %li
    Zucchini
    %br/
    = image_tag("zucchini.jpg", class: "small")
  %li
    Red Bell Peppers
    %br/
    = image_tag("red_peppers.jpg", class: "small")
  %li
    Spinach
    %br/
    = image_tag("spinach.jpg", class: "small")
  %li
    Carrots
    %br/
    = image_tag("carrots.jpg", class: "small")
%ul.menu
  - @products.each do |product|
    = render 'products/list', product: product
%p This is the veggies we are selling that I "leo" know of.
%p Made by the owners Leo, Gryphen, Dean, Daddy and Lisa!
